.container{
    width: 80%;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 1rem 0;
}
.nav_about{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding: 1rem 0;
}
.art{
    display: grid;
    gap: 1rem;
}
.art1 img{
    width: 700px;
}
.art2 img{
    width: 700px;
}
.art5 img{
    width: 700px;
}
.art3 img{
    width: 800px;
    display: block;
}
.art4 img{
    width: 700px;
    height: fit-content;
}
.about{
    text-align: center;
    justify-content: center;
    align-items: center;

}
.about img{
    width: 400px;
    /* height: 400px; */
}
.contact{
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: red;

}
.form input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 600px;
}
.button{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 20px;
}
